/* General */
:root{
  --black:#333333;
  --white:#ffffff;
  --blue:#459ba0;
  --dark:#557f88;
}
body{
  font-family:Poppins;
  overflow-x:hidden;
  font-size:18px;
  padding:0;
  margin:0;
}
hr{
  border:solid 1px var(--black);
  margin:50px 0;
}
a{
  text-decoration:none;
  color:var(--dark);
}
a:hover{
  text-decoration:underline;
}
.center{
  text-align:center;
}
.thirds{
  grid-template-columns:33% 34% 33%;
  text-align:center;
  position:relative;
  display:grid;
}
.thirds > div{
  position:relative;
}
@font-face{
  font-family:"Poppins";
  src:url("./fonts/Poppins-Regular.ttf");
}
@font-face{
  font-family:"Poppins";
  src:url("./fonts/Poppins-Bold.ttf");
  font-weight:bold;
}

/* Splash */
.splash{
  background-color:var(--blue);
}
.splash .link{
  transition:background-color 0.1s ease;
  border:solid 2px var(--dark);
  background-color:var(--blue);
  border-radius:0 27px 27px 0;
  padding:10px 20px 10px 0;
  position:relative;
  border-left:none;
  text-align:right;
  font-size:30px;
  width:325px;
}
.splash .link:hover{
  background-color:var(--dark);
}
.splash .link a{
  text-decoration:none;
  color:var(--white);
}
.splash .logo{
  margin:15px 0;
  height:300px;
}
.splash h1{
  color:var(--white);
  font-size:85px;
  margin:15px;
}
.splash .version{
  color:var(--white);
  font-weight:bold;
  display:block;
  margin:15px 0;
}
.splash .github{
  width:85px;
}
#arg-icon{
  transform:translateX(-50%);
  position:relative;
  margin-top:35px;
  max-width:300px;
  display:none;
  width:80%;
  left:50%;
}
@media only screen and (max-width:1100px){
  .splash{
    grid-template-columns:50% 50%;
  }
  .splash .logo-wrapper{
    display:none;
  }
}
@media only screen and (max-width:700px){
  .splash{
    grid-template-columns:100%;
  }
  .links-wrapper{
    display:none;
  }
  #arg-icon{
    display:block;
  }
}

/* What is Argzilla */
.what-argzilla{
  position:relative;
  padding:0 40px;
}
.video{
  position:relative;
  float:right;
  padding-left:40px;
}
@media only screen and (max-width:700px){
  .what-argzilla{
    text-align:center;
    padding:0 5px;
  }
  .video{
    float:none;
    padding:0;
  }
}

/* Documentation */
.documentation{
  padding:0 40px;
}
.docs-btn{
  transition:background-color 0.1s ease;
  background-color:var(--blue);
  border-radius:36px;
  text-align:center;
  padding:16px 75px;
  font-weight:bold;
  font-size:40px;
  cursor:pointer;
  border:none;
  color:white;
}
.docs-btn:hover{
  background-color:var(--dark);
}
@media only screen and (max-width:1100px){
  .documentation{
    padding:0 5px;
  }
  .docs-btn{
    font-size:30px;
  }
}

/* Who's using it */
.whos-using-it{
  padding-bottom:50px;
}
.whos-using-it h1{
  margin-bottom:35px;
}
@media only screen and (max-width:1100px){
  .whos-using-it .thirds{
    grid-template-columns:100%;
  }
}

/* Donate/contact section */
.donate-contact{
  grid-template-columns:50% 50%;
  color:var(--white);
  text-align:center;
  display:grid;
}
.donate-contact .donate{
  background-color:var(--black);
}
.donate-contact .contact{
  background-color:var(--blue);
}
.donate-contact .contact-icons{
  grid-template-columns:50% 50%;
  text-align:center;
  display:grid;
}
.contact-icons a{
  text-decoration:none;
}
.contact-icons b{
  color:var(--white);
  cursor:pointer;
  display:block;
  margin:15px 0;
}
.contact-icons img{
  width:80px;
}
@media only screen and (max-width:700px){
  .donate-contact{
    grid-template-columns:100%;
  }
}

/* Footer */
.footer{
  text-align:center;
  padding:5px 0;
}
