/* General */
:root{
  --black:#000000;
  --white:#ffffff;
  --blue:#459ba0;
  --dark:#557f88;
}
body{
  font-family: sans-serif;
  overflow-x:hidden;
  padding:0;
  margin:0;
}
hr{
  margin:35px 0;
}
.center{
  text-align:center;
}
.thirds{
  grid-template-columns:33% 34% 33%;
  text-align:center;
  position:relative;
  display:grid;
}
.thirds > div{
  position:relative;
}

/* Splash */
.splash{
  background-color:var(--blue);
}
.splash .link{
  transition:background-color 0.1s ease;
  border:solid 2px var(--white);
  background-color:var(--blue);
  border-radius:0 27px 27px 0;
  padding:10px 20px 10px 0;
  position:relative;
  border-left:none;
  text-align:right;
  font-size:30px;
  width:325px;
}
.splash .link:hover{
  background-color:var(--dark);
}
.splash .link a{
  text-decoration:none;
  color:var(--white);
}
.splash .logo{
  margin:15px 0;
  height:300px;
}
.splash h1{
  color:var(--white);
  font-size:85px;
  margin:15px;
}
.splash .version{
  color:var(--white);
  font-weight:bold;
  display:block;
  margin:15px 0;
}
.splash .github{
  width:85px;
}

/* What is Argzilla */
.what-argzilla{
  position:relative;
  padding:0 40px;
}
.video{
  position:relative;
  float:right;
  padding-left:40px;
}

/* Documentation */
.documentation{
  padding:0 40px;
}
.docs-btn{
  transition:background-color 0.1s ease;
  background-color:var(--blue);
  border-radius:36px;
  text-align:center;
  padding:16px 75px;
  font-weight:bold;
  font-size:40px;
  cursor:pointer;
  border:none;
  color:white;
}
.docs-btn:hover{
  background-color:var(--dark);
}

/* Who's using it */
.whos-using-it{
  padding-bottom:50px;
}
.whos-using-it h1{
  margin-bottom:35px;
  padding-left:40px;
}

/* Donate/contact section */
.donate-contact{
  grid-template-columns:50% 50%;
  color:var(--white);
  text-align:center;
  display:grid;
}
.donate-contact .donate{
  background-color:var(--black);
}
.donate-contact .contact{
  background-color:var(--blue);
}
.donate-contact .contact-icons{
  grid-template-columns:50% 50%;
  text-align:center;
  display:grid;
}
